@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Roboto&display=swap");

#root {
  overflow: auto;
}

#slider_input {
  background: rgb(110, 169, 199);
  background: linear-gradient(
    0deg,
    rgba(110, 169, 199, 0) 48%,
    rgba(209, 213, 219, 1) 49%,
    rgba(209, 213, 219, 1) 51%,
    rgba(142, 194, 228, 0) 52%
  );
}

#slider_input::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
}

